/*.mainmenu .active a:focus,*/
/*.mainmenu .active a:hover,*/
.mainmenu li a:hover,
.mainmenu li a:focus,
    /*.navbar-default .navbar-nav>.show>a,*/
    /*.navbar-default .navbar-nav>.show>a:focus,*/
    /*.navbar-default .navbar-nav>.show>a:hover,*/
    /*.mainmenu ul li.active span,*/
.mainmenu li.active span.active,
.mainmenu li.active a.active

{color: #f15a22;outline: 0;text-decoration:none; padding:15px; display: block}

.menu-area{background: #ffffff}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}

.mainmenu a,
.navbar-default
.navbar-nav > li > a,
.mainmenu ul li a ,
.navbar-expand-lg .navbar-nav .nav-link
{color:#000000;font-size:16px;padding:15px;font-family:'Roboto',sans-serif;display: block !important;}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}

@media only screen and (max-width: 992px) {
    .mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
        background: #CCCCCC;
    }

    .mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #CCCCCC;
        position:relative;top:100%;min-width:300px;display:none;left:0;

    }

    .mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu {
        background: #CCCCCC
    }

}
@media only screen and (min-width: 992px) {

    .mainmenu .collapse ul ul ul{position:relative;top:0;min-width:300px;display:none; padding-left: 20px}
}


@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover> ul{display:block}
    .mainmenu .collapse ul ul{position:relative;top:100%;min-width:300px;display:none;padding-left: 20px}
    /*******/
    .mainmenu .collapse ul ul li{position:relative}
    .mainmenu .collapse ul ul li:hover> ul{display:block}
    .mainmenu .collapse ul ul ul{position:relative;top:0;left:50%;display:none;}
    /*******/
    .mainmenu .collapse ul ul ul li{position:relative}
    .mainmenu .collapse ul ul ul li:hover ul{display:block}
    .mainmenu .collapse ul ul ul ul{position:relative;top:0;left:-20%;min-width:300px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}